<p id="notice"><%= notice %></p>

<p>
  <b>Question type:</b>
  <%= @questionwise_marks_distribution.question_type %>
</p>


<%= link_to 'Edit', edit_questionwise_marks_distribution_path(@questionwise_marks_distribution) %> |
<%= link_to 'Back', questionwise_marks_distributions_path %>
